<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Landing Page"}) %>
</head>
<body>
    <h1>Landing Page</h1>


    <%- include('../partials/footer') %>
</body>
</html>